*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none;
}
.nav-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.nav-box-1{
    margin: 1px 25px 1px;
}

.nav-box-2{
    margin: 10px;
}

#contact-me{
    border: 2px solid #00acfc;
    border-radius: 7px;
    padding: 10px;
    background-color: #00acfc;
}
#contact-me:hover{
    color: white;
}

a:link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 25px 0px;
}

a:visited{
    color: black;
}

a:hover{
    color: #00acfc;
    text-decoration: underline;
}