<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Controllers/index.js"></script>
    <link rel="stylesheet" href="/View/Styles/styles.css">
    <title>Gab Abasolo</title>
</head>
<body>
    <div class="flex-container">
        <div class="child-container" id="plate">
            <h1>Gabrielle Philip Abasolo</h1>
            <h2>Web Developer</h2>
        </div>
        <div class="child-container" id="plate">
            <h1>Technologies</h1>
                <h2>Java</h2>
                <h2>JS</h2>
                <h2>HTML</h2>
        </div>
        <div class="child-container" id="plate">
            <h1>Projects</h1>
                <h2>Resume Generator</h2>
                
        </div>
    </div>
</body>
</html>