<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Controllers/index.js"></script>
    <link rel="stylesheet" href="/View/Styles/styles.css">
    <title>My online Portfolio</title>
</head>
<body>
    <div class="nav-container-1" id="nav-bar">
        <h3 class="nav-box-1">
            Online Resume
        </h3>
        <nav class="nav-box-2" id="nav-box-2-parent">
                <a href="/View/Resume.html">
                    Home
                </a>
                <a href="#">
                    About me
                </a>
                <a href="#">
                    Portfolio
                </a>
                <a href="#" id="contact-me">
                    Contact me
                </a>
        </nav>
    </div>
    <div class="hero-container-parent">
        <div class="hero-container">
            <div class="hero-box-1">
                <h1>
                    Gab Abasolo
                </h1>
                <p>
                    Software Developer
                </p>
                <p>
                    I love programming. it's been a dream to code almost everyday. relearned everything from java to php and had been chasing my dream
                </p>
                <div id="hero-link-containter">
                    <a href="#" id="hero-links">Projects</a>
                    <a href="#" id="hero-links">Resume</a>
                </div>
                
            </div>
            <div id="hero-img">
                <img src="/View/Resources/100904479_10222795384570200_6410558471070023680_n.jpg" alt="" id="image-size">
            </div>
        </div>
    </div>
    <div class="tech-container-parent">
        <div class="tech-container">
            <div class="tech-container-box-1">  
                <h1>
                    Portfolio
                </h1>
            </div >
            <div class="tech-container-box-2">
                <div>
                    <a href="#">
                        <img src="/View/Resources/html5.png" alt="" id="tech-img">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/View/Resources/css-3.png" alt="" id="tech-img">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/View/Resources/laravel-icon.png" alt="" id="tech-img">
                    </a>
                </div>
                <div class="box">
                    <a href="#">
                        <img src="/View/Resources/docker-icon.png" alt="" id="tech-img">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/View/Resources/php.png" alt="" id="tech-img">
                    </a>
                </div>
                
                
            </div>
        

        </div>
    </div>
    <div>
        <h1>
            About me
        </h1>
    </div>

    <div>
        <h1>
            Let's talk
        </h1>
    </div>
    <div>
        <h1>
            Gab Abasolo
        </h1>

    </div>

</body>
</html>