<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Controllers/index.js"></script>
    <link rel="stylesheet" href="/View/Styles/styles.css">
    <title>My online Portfolio</title>
</head>
<body>
    <div class="flex-container">
        <div class="">
            <div class="nameplate" id="plate">
                <div class="">
                    <h1>Gabrielle Philip Abasolo</h1>
                    <h2>Web Developer</h2>
                </div>
            </div>
            <div id="plate">
                <h1>ABOUT ME</h1>
                <p>Hi My name is Gabrielle Abasolo I'm a Developer from the Philippines. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus assumenda commodi facilis vero esse. Placeat consectetur aspernatur odio ad tenetur. Harum consectetur illum nemo impedit fuga odio quo enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus assumenda commodi facilis vero esse. Placeat consectetur aspernatur odio ad tenetur. Harum consectetur illum nemo impedit fuga odio quo enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus assumenda commodi facilis vero esse. Placeat consectetur aspernatur odio ad tenetur. Harum consectetur illum nemo impedit fuga odio quo enim.
                </p>
            </div>
            <div id="plate">
                <div>
                    <h1>Technologies</h1>
                    <ul>
                        <li>Java</li>
                        <li>JS</li>
                        <li>HTML</li>
                        <li>Python</li>
                        <li>PHP</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>
</html>